In [5]:
a=10                # Integer
b='python'          #String
name= 30.55         #float
print(name)

30.55

In [12]:
#multiple assinment
c,d,e,f=20,30,40.5,'h'
print(c,d,e,f)
print()
print(c,d,e,f,sep=', ')

20 30 40.5 h

20, 30, 40.5, h

In [16]:
g=h=i=100
print(g,h,i)

100 100 100

In [17]:
i

100

In [18]:
del i

In [19]:
i

NameError: name 'i' is not defined

Python data type

* Immutable data type
1) number (float, int, complex no)
2) string
3) tuples

* Mutable data type
1) list
2) dictionary
3) sets

In [27]:
#number
i=32.3e18
type(i)
print(i , type(i))

3.23e+19 <class 'float'>

In [28]:
j=3.25j
type(j)

complex

In [30]:

print(i,j,sep='\n')

3.23e+19
3.25j

In [31]:
#string
str1='python is a programming language'

In [42]:
print(str1)

python is a programming language

In [43]:
print(str1[0])

p

In [44]:
print(str1[:])

python is a programming language

In [45]:
print(str1[2:10])

thon is

In [47]:
#updating of a character
str1[0]='E'

# as string is immutable so after assinging it can't be update or delete a character
# it can be done as a whole

TypeError: 'str' object does not support item assignment

In [48]:
del str1[1]

TypeError: 'str' object doesn't support item deletion

In [49]:
#updating entire string
str1="new string"
print(str1)

new string

In [50]:
del str1

In [51]:
str1

NameError: name 'str1' is not defined

In [68]:
print("\\")
print()
print("\"")
print()
print("\'")
print()
print("\a")
print()
print("ab"+"\b"+"c")
print()
print("hello\fworld")
print()
print("hello\nworld")

\

"

'



abc

helloworld

hello
world

In [79]:
print(u"\N{DAGGER}")
print()
print("123459\rXX_XX")
print()
print("\t\t*hello")
print()
print("N/A")
print()
print(u"\u041b")
print()
print("\043")
print()
print("\x23")

†

XX_XX

		*hello

N/A

Л

#

#

In [82]:
#string formatting (default order)
string1="{} {}   {}".format('python', 'programming',  'language')
print(string1)

python programming   language

In [83]:
#positional formating
string2="{1} {0} {2}".format('himani','myself','sharma')
print(string2)

myself himani sharma

In [84]:
#keyword formating
string3="{h} {s} {u} {k}".format(u='umesh',h='himani',s='sharma',k='kharva')
print(string3)

himani sharma umesh kharva

In [85]:
#Tuples
tuple1=('abcd',30,3.4,100)
print(tuple1)

('abcd', 30, 3.4, 100)

In [87]:
print(tuple1[0])

abcd

In [88]:
print(tuple1[1:3])

(30, 3.4)

In [89]:
print(tuple1[2:])

(3.4, 100)

In [90]:
print(tuple1*2)  #prints tuple content twice

('abcd', 30, 3.4, 100, 'abcd', 30, 3.4, 100)

In [91]:
tuple2=(45,'himani',45.467)
print(tuple1+tuple2)  #concatenaed tuples

('abcd', 30, 3.4, 100, 45, 'himani', 45.467)

In [92]:
tuple1[2]=1000       #bec of it is immutable data type

TypeError: 'tuple' object does not support item assignment

In [93]:
#list
l=[1,3,6,'acdv',12.46]
l

[1, 3, 6, 'acdv', 12.46]

In [94]:
l[0:3]

[1, 3, 6]

In [95]:
l2=[123,'sharma']
print(l2*3)
print(l+l2)

[123, 'sharma', 123, 'sharma', 123, 'sharma']
[1, 3, 6, 'acdv', 12.46, 123, 'sharma']

In [97]:
l[3]='himani'
l

[1, 3, 6, 'himani', 12.46]

In [106]:
num=int(input("enter a number "))
print(num,"",sep='.')

enter a number 45
45.

In [108]:
n=input("enter any sequence")

enter any sequence1 2 3 4 6 7 89 56

In [109]:
k=n.split()
k

['1', '2', '3', '4', '6', '7', '89', '56']

In [74]:
#dictionary
dict1={}
dict1['one']='this is python'
dict1

{'one': 'this is python'}

In [75]:
dict1[2]='this is java'
dict1

{'one': 'this is python', 2: 'this is java'}

In [76]:
dict2={'name':'himani','id':12,'dept':'cyber'}
dict2

{'name': 'himani', 'id': 12, 'dept': 'cyber'}

In [77]:
print(dict1[2])
print(dict1['one'])
print(dict2['dept'])

this is java
this is python
cyber

In [78]:
print(dict2.keys()) #print all the keys
print(dict1.keys())

dict_keys(['name', 'id', 'dept'])
dict_keys(['one', 2])

In [79]:
print(dict2.values())#print all the values
print(type(dict2))

dict_values(['himani', 12, 'cyber'])
<class 'dict'>

In [67]:
#sets
a={5,4,57,100}
print("a= ",a)
print(type(a))

a=  {57, 5, 100, 4}
<class 'set'>

In [1]:
#python loops
#while loop
count=0
while(count<8):
    print('count is ',count)
    count=count+1
print("done!")

count is  0
count is  1
count is  2
count is  3
count is  4
count is  5
count is  6
count is  7
done!

In [3]:
#while loop with else
count=0
while count<4:
    print(count, " is less than 4 ")
    count =count+1
else:
    print(count, " is equal to 4")

0  is less than 4
1  is less than 4
2  is less than 4
3  is less than 4
4  is equal to 4

In [8]:
for cr in 'himani sharma':
    print('current letter: ' ,cr)

current letter:  h
current letter:  i
current letter:  m
current letter:  a
current letter:  n
current letter:  i
current letter:
current letter:  s
current letter:  h
current letter:  a
current letter:  r
current letter:  m
current letter:  a

In [9]:
fruits=['banana','apple','mango']
for f in fruits:
    print('current fruit: ',f)

current fruit:  banana
current fruit:  apple
current fruit:  mango

some python libraries are
1. numpy
2. pandas
3. seaborn
4. keras
5. matplotlib
6. scikit learn
7. tensorflow

In [29]:
def greeting(name):
    print("hello," + name)
greeting("himani")

hello,himani

In [30]:
def greet(name):
    print("hello, " +name+". good evening!")
greet("Himani Sharma")

hello, Himani Sharma. good evening!

In [28]:
def show(n):
    print("value is",n)
a=10
show(a)

def greetings(s):
    print(f"hello mr. {s}, Good Evening")
greetings("himani")     #calling function

value is 10
hello mr. himani, Good Evening

In [33]:
def value(num):
    if num>=0:
        return num
    else:
        return -num -(-4)
a=-1
b=8

print(value(a))
print(value(b))

5
8

In [40]:
def test1():
    a=155
    print("value of inside function",a)
a=20

print("value of outside function",a)
test1()

value of outside function 20
value of inside function 155

In [46]:
def greet(msg,name):
    print('hello',name+','+msg)
    
greet('how r u','himani sharma')   #python default argument

hello himani sharma,how r u

In [48]:
greet(name='sharma',msg='how do u do!!!!!')  #python keyword argument

hello sharma,how do u do!!!!!

In [49]:
#python arbitrary argument
def greet(*name):
    print('hello', name )
greet('himani','payal','umesh','sidhhi')

hello ('himani', 'payal', 'umesh', 'sidhhi')

In [57]:
#lambda expression  (lambda function are syntactically restricted to a single ecpression)
n=int(input('enter the year: '))
leap=lambda y:(y%4==0 and y%100!=0) or y%400==0
if leap(n):
    print("leap year")
else:
    print("not leap year")

enter the year: 2024
leap year

In [61]:
num=0
if num>0:
    print( "is positive")
else:
    print("negative")

negative

In [63]:
c=0
while c<3:
    if c==1:
        break
    print("inside loop")
    c=c+1
else:
    print("inside else")

inside else

In [65]:
for i in 'python':
    print(i,end=' ')

p y t h o n

In [66]:
n=5
i=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(i,end=" ")
        i+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [4]:
st=input()
a,d,s,i=0,0,0,0
for ch in st:
    if (ch>='a' and ch<='z') or (ch>='A' and ch<='Z'):
        a=a+1
    elif ch>='0' and ch<='9':
        d=d+1
    else:
        s=s+1
    i=i+1
print("Alphabets: %d, Special Characters: %d, Digits: %d" % (a,s,d))

23Himani@Sharma2002#
Alphabets: 12, Special Characters: 2, Digits: 6

In [8]:
s="I love My India  "
print("Actual String is: ",s)
print()
print("length:",len(s))
print()
s=s.strip()
print("stripped string:",s)
print()
print("length:",len(s))
print()
print("Upper case:",s.upper())
print()
print("Lower case:",s.lower())
print()
print("title case:",s.title())
print()
print("capitalize case:",s.capitalize())
print()
t=s.split()
print(t)
print()
k=" ".join(t)
print(k)
print()

Actual String is:  I love My India

length: 17

stripped string: I love My India

length: 15

Upper case: I LOVE MY INDIA

Lower case: i love my india

title case: I Love My India

capitalize case: I love my india

['I', 'love', 'My', 'India']

I love My India

more basic string functions are
1. swapcase()
2. isalpha()
3. isdigit()
4. isupper()
5. islower()
6. istitle()
7. strip()
8. split()
9. join()
10. upper()
11. lower()
12. title()
13. capitalize()

In [6]:
for num in range(10,30):
    for i in range(2,num):
        if num%i==0:
            j=num/i
            print('%d equals to %d * %d'% (num,i,j))
        break
    else:
        print(num,'is a prime number')
        break

10 equals to 2 * 5
12 equals to 2 * 6
14 equals to 2 * 7
16 equals to 2 * 8
18 equals to 2 * 9
20 equals to 2 * 10
22 equals to 2 * 11
24 equals to 2 * 12
26 equals to 2 * 13
28 equals to 2 * 14